
---
const year = 2025;
const email = "vaitsiuksv@gmail.com";
const city = "Warszawa";
---
<footer class="mt-auto">
  <div class="container border-t border-line mt-8 py-4 text-sm text-[#8ea2bf]">
    <div class="flex flex-col sm:flex-row gap-2 sm:gap-4 items-start sm:items-center">
      <span>{city}</span>
      <a class="link" href={"mailto:" + email}>{email}</a>
      <span>© {year} Sergej Wajciuk</span>
    </div>
  </div>
</footer>
